body, html {
    height: auto%;
    width: 100%;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
}

header {
    height: auto;
    width: 100%;
}

.header-image {
    display: block;
    background-image: url("headerimage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 20vh;
    width: 100vw;
}

form {
    width:50%;
}

.gryffindor-index {
    background: #740E0C;
}

.index-main {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin: 0;
    padding: 2.5%;
    
    flex-wrap: wrap;
    flex: 1 1 auto;
}

.gryffindor.index-main {
    color: white;
}