body, html {
    height: auto%;
    width: 100%;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
}

header {
    height: auto;
    width: 100%;
}

.header-image {
    display: block;
    background-image: url("headerimage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 20vh;
    width: 100%;
}

.customNav{
    flex-grow: 0;
}

form {
    width:50%;
}

.gryffindor-index {
    background: #740E0C;
}

.ravenclaw-index {
    background: #4a6289;
}

.hufflepuff-index {
    background: #c69940;
}
.slytherin-index {
    background: #386849;
}

.index-main {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin: 0;
    padding: 2.5%;
    
    flex-wrap: wrap;
    flex: 1 1 auto;
}

.gryffindor.index-main {
    color: white;
}

.pointsHeader {
    display: flex;
    justify-content: space-around
}

.pointsDisplay {
    display: flex;
}

.pointsDisplay p{
    width: 25%;
    text-align: center;
}

.pointsText {
    text-align: center;
}
 